/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    background-color: #1a1a1a;
    color: #fff;
}

/* Navigation */
nav {
    background: #333;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
}

nav ul li a:hover {
    background: #555;
}





/* Landing Page */
#landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1a1a1a;
    color: #fff;
}

.hero {
    text-align: center;
    margin-bottom: 3rem;
}

/* Page Buttons */
.button-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;
}

.row {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.page-button {
    font-size: x-large;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
    margin: 0;
    flex: 1;
}

.page-button.info {
    background: #34495e;
    margin-right: 0.5rem;
}

.page-button.info:hover {
    background: #2c3a4b;
}

.page-button.fleet {
    background: #34495e;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.page-button.fleet:hover {
    background: #2c3a4b;
}

.page-button.rank {
    background: #34495e;
    margin-left: 0.5rem;
}

.page-button.rank:hover {
    background: #2c3a4b;
}

.page-button.join {
    background: #e74c3c;
}

.page-button.join:hover {
    background: #c0392b;
}

.page-button.discord {
    background: #7289da;
}

.page-button.discord:hover {
    background: #6272a4;
}

.row:last-child {
    display: flex;
    justify-content: center;
}

/* Headline and Slogan */
.headline {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.slogan {
    font-size: 1.5rem;
    color: #ccc;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
}


/* Sections */
section {
    padding: 2rem;
}

/* Home */
#home {
    text-align: center;
    font-size: 2rem;
    background-color: #1a1a1a;
    color: #fff;
}



/* Styling for the information cards */
.information-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Center vertically */
}

.information-card {
    width: 70%; /* Two cards per row with a little margin */
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #444;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
}

.card-header i {
    margin-right: 10px;
}

.card-header h2 {
    margin: 0;
}

.card-content {
    padding: 20px;
}

.info-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; /* Align items horizontally */
}

/* Horizontal Lines */
.info-line {
    width: 100%;
    height: 1px;
    background-color: #555;
    border: none;
    margin: 5px 0;
}

/* Fleet Button */
.fleet-button {
    padding: 5px;
    background: #34495e;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.fleet-button:hover {
    background: #2c3a4b;
}




/* Fleet */
#fleet {
    background-color: #1a1a1a;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

.fleet-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
}

.vehicle-card {
    background: #333;
    border-radius: 5px;
    margin: 1rem;
    width: 300px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vehicle-card .image-container {
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.vehicle-card table {
    width: 100%;
    border-collapse: collapse;
}

.vehicle-card table th,
.vehicle-card table td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #666;
}

.vehicle-card table th {
    font-weight: bold;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}





/*Ranks*/
#ranks {
    background-color: #1a1a1a;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

.rank-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank-category {
    margin-bottom: 2rem;
    width: 80%;
}

.rank-category h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.subordinates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rank-item {
    background: #333;
    border-radius: 5px;
    margin: 1rem;
    width: 50%;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rank-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.rank-code {
    display: block;
    color: #fff;
}

.xp-requirement {
    display: block;
    color: #fff;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.footer {
    color: #888;
    font-size: 0.8rem;
}


/*Application*/
form {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
}

.warning {
    max-width: 70%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: #e74c3c;
    border-radius: 5px;
    color: #222;
}

.disclaimer {
    max-width: 70%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: #eac87f;
    border-radius: 5px;
    color: #222;
}

.disclaimer-list {
    text-indent: 2%;
    list-style-position: inside;
}

.disclaimer-discord {
    padding: 5px;
    background: #7289da;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.disclaimer-discord:hover {
    background: #6272a4;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: #ccc;
    margin-bottom: 5px;
}

.note {
    font-size: 14px;
    color: #999;
    margin-bottom: 15px;
}

input[type="number"],
input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

.errorBox {
    max-width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    background-color: #e74c3c;
    border-radius: 5px;
    color: #fff;
}

.submit-button {
    background-color: #7289da;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
    background-color: #5c7dbd;
}


/*Footer*/
footer {
    background-color: #222;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: bottom;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
    border-radius: 5px;

}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 40px;
    height: auto;
    margin-right: 1rem;
}

.footer-text {
    font-size: 0.9rem;
}

.footer-text p {
    margin: 0.25rem 0;
}




